.forecast-container {
    background-color: rgb(19, 19, 19);
    width: -webkit-fill-available;
    height: 59vh;
    overflow: auto;
    
}

.date {
    z-index: 1;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: rgb(12, 12, 12);
    box-shadow: 0 0 10px black;
    padding: 5px 0;
    text-align: center;
}


