.forecast-container {
    width: -webkit-fill-available;
    height: 57vh;
    overflow: auto;


}

.date {
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: rgb(12, 12, 12);
    padding: 5px 0;
    text-align: center;
}
