.hour-row {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    gap: 1px;
    margin-bottom: 1px;
    transition: all 0.2s;

    &>div {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hour {
        text-align: center;
        word-wrap: break-word;
        padding: 0 3px;
        font-size: 16px;
        width: 20%;

    }
    .end-hour{

    }

    .temp {

        padding: 3px 7px;
        flex-direction: column;
        width: 27%;

        .num {
            font-size: 37px;
        }

        .unit {
            font-size: 15px;
        }
    }

    .row-variables {

        color: rgb(233, 233, 233);
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .condition {
            text-align: center;
            font-size: 14px;
            margin-bottom: 4px
        }



        .var {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;

            img {
                z-index: 0;
                filter: invert(1);
            }

        }


        .num {
            margin-right: 5px;
        }

        .unit {
            color: rgb(172, 172, 172);
            font-size: 12px;
        }


    }
}

.color_00,
.color_03 {
    background-color: #0f3355 !important;
}

.color_06 {
    background-color: #194772 !important;
}


.color_12,
.color_15 {
    background-color: #5db1ff !important;
    color: rgb(0, 0, 0) !important;

    .unit {
        color: rgb(73, 73, 73) !important;
    }
   .icon{
    filter:invert(0.2) !important
   }
    
}

.color_18,
.color_09 {
    background-color: #286fb1 !important;
}

.color_21 {
    background-color: #194772 !important;
}


@media screen and (max-width:800px) {
    .row-variables {

        .condition {
            max-width: -webkit-fill-available;
        }
    }
}