.hour-row {
    
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-bottom: 2px;
    

    &>div {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hour {
        text-align: center;
        word-wrap: break-word;
        padding: 0 3px;
        font-size: 17px;
        width: 20%;

    }


    .temp {
        text-shadow: 1px 1px 3px  #000000;
        padding: 3px 7px;
        flex-direction: column;
        width: 27%;
        
        img{
            filter: drop-shadow(0px 4px 7px rgb(31, 31, 31));
        }

        .num {
            font-size: 37px;
        }

        .unit {
            font-size: 15px;
        }
    }

    .row-variables {

        color: #e9e9e9;
        width: 52%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        .condition {
            text-align: center;
            font-size: 17px;
            margin-bottom: 10px;
            text-shadow: 1px 1px 3px  #000000;

        }



        .var {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;

            img {
                z-index: 0;
                filter: invert(1);
            }

        }


        .num {
            margin-right: 5px;
        }

        .unit {
            color: rgb(172, 172, 172);
            font-size: 12px;
        }


    }
}

.color_00,
.color_03 {
    background-color: #0f3355 !important;
}


.color_12,
.color_15 {
    background-color: #5db1ff !important;
    color: rgb(12, 12, 12) !important;

    .unit {
        color: rgb(49, 48, 48) !important;
    }
   .icon{
    filter:invert(0.2) !important
   }
   .temp{
     text-shadow: 1px 1px 3px  #868686;
   }
   .condition{
    text-shadow: 1px 1px 0px  #7c7c7c !important;
  }

    
}

.color_18,
.color_09 {
    background-color: #2c78be !important;
    .unit {
        color: rgb(175, 175, 175) !important;
    }
}

.color_21,.color_06 {
    background-color: #194772 !important;
}


@media screen and (max-width:800px) {
    .row-variables {

        .condition {
            max-width: -webkit-fill-available;
        }
    }
}