.current-container {

    width: 99%;
    min-height: 83px;
    background-color: rgb(45 45 45);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor:pointer;
    &:hover{
        transition:all 0.2s;
        background-color: rgb(54, 54, 54);
    }
    
}

.error{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px
    
}


.temp-num {
    text-align: center;
    font-size: 42px;

    .temp-unit {
        font-size: 18px;
    }
}

.current-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &img {
        filter: invert(0);
    }

}


.condition {
    text-align: center;
    font-size: 12px;
    max-width: 200px;
    margin-bottom: 6px;

}

.variables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .var {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;

        img {
            filter: invert(1);
        }

    }

    .sun{
        
        img {
            
            filter: invert(0) ;
        }
    }

    .wind_desc{
        font-size: 13px;
    }


    .num {
        margin-right: 5px;
    }

    .unit {
        color: gray;
        font-size: 12px;
    }


}




.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .outdated{
        color: rgb(226, 20, 20) !important
    }

}
.update-time {
    color: rgb(143, 143, 143);
    font-size: 13px;
    align-self: center;
    text-align: center;
    margin-top:7px;
    .day{
        font-size: 11px;
    }
}

.st{
    font-size: 15px;
}


.loading{
    height:15vh;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width:800px) {


    .condition {

        max-width: 90px;

    }

    

}