.satellite_container {

    display: flex;
    width: 100%;

    margin: 0 auto 20px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;

h4,h2{
    margin: 0 !important

}
img{
    margin:15px 0
}

    .zoom-control {

        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        button {
            padding: 35px 0;
        }
    }
    .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .selected-img{
            
            position:fixed;
            right:-470px;
            bottom:100px;
            width: 300%;
        }
        
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr ;

        gap: 3px;
        width: 35%;
        position: fixed;
        bottom: 20px;

        button {
            text-align: center;
            background-color: rgb(24, 24, 24);
            font-size: 22px;

            border: solid 1px rgb(129, 129, 129);
            border-radius: 5px;

            color: rgb(255, 255, 255);
            padding: 15px 0;
            cursor: pointer;
        }

        .active {
            background-color: rgb(226, 226, 226);
            color: black
        }
    }
    .link{
        text-decoration: none;
        margin-top: 20px;
        padding:  15px;
        background-color: rgb(19, 19, 19);
        color:white;
        border-radius: 5px;
    }


}

@media screen and (max-width:800px) {
    .satellite_container {
        .buttons {
            width: 100%;

            .button {
                padding: 17px;
            }
        }
        .zoom-control{
            button {
                padding: 3px 0;
            }
        }

        .img {
            

            img {
                
                
            }
        }
    }
}