.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    height:7vh;

    .title {
        font-size: 18px;
        text-align: center;
    }

    .search-button, .favorites-button {
        font-weight: bolder;
        outline:none;
        cursor: pointer;

        img {
            filter: invert(1);

            &:hover {
                // filter: invert(0.8);
            }
        }
    }

}