.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding:0 2px;
    height:7vh;

    .title {
        font-size: 18px;
        text-align: center;
    }

    .search-button, .favorites-button,.back-button {
        font-weight: bolder;
        outline:none;
        cursor: pointer;

        img {
            filter: invert(1);

            &:hover {
                // filter: invert(0.8);
            }
        }
    }
    .back-button{
        margin-left: 2px;
        img{
            filter:invert(0.8)
        }
    }

}


@media screen and (max-width:800px){
    .header-container {
        width: -webkit-fill-available;
  
    }
}