.carousel-container {
    z-index: 1;
    display: flex;
    width: -webkit-fill-available;
    overflow: auto;
    box-shadow: 0 0 10px black;
    border-radius:5px;
    transform: scale(1);
    position:sticky;
    bottom:0;

    .element {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px;
        border-radius: 3px;
        border-color: #424242;
        background-color: rgb(20, 20, 20);
        transition: all 0.3s;
        cursor: pointer;
        margin:  1px;
        min-width: 95px;
        height:14vh;



        .day{
            background-color: transparent;
        }

        .date{
            background-color: transparent;
            box-shadow: none;
            font-size: 14px;
        }

        .maxmin{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            gap:15px;
            font-weight: bold;
            .max{
                color:rgb(255, 45, 45)
            }
            .min{
                color:rgb(0, 140, 255)
            }
        }

        .mm{
            margin-top: 2px;
            font-size: 12px;
        }


        &:hover{
            background-color: rgb(32, 32, 32);
        }
    }
    

    
}


.selected_day{
    background-color: rgb(235 235 235) !important;
    color:black;
    transform: scale(0.9);
    transition: all 0.3s;
    
  }